html, body{
	margin:0px;	
	padding:0px;
	border:0px;
    font-family:arial,sans-serif;
	height:100%;
	min-width:966px;
}


.menuitem{
	display: inline-block;
	background-color:#728ca6;
	width:128px;
	height:48px;
	cursor:pointer;
}
.menuitem:hover{
	background-color:#2a4d6e;
	color:#ffffff;
}
.menuitem:active{
	background-color:#133353;
	color:#ffffff;
}

#menu {
	margin: auto;
	background-color:#4a6b8a;
	height:48px;
}

#header {
	
	background-color:#041e37;
	height:255px;
	margin:auto;
}
