html, body{
	margin:0px;	
	padding:0px;
	border:0px;
    font-family:arial,sans-serif;
	height:100%;
	min-width:966px;
}



.menuitem{
	display: inline-block;
	background-color:#728ca6;
	width:128px;
	height:48px;
	cursor:pointer;
}
.menuitem:hover{
	background-color:#2a4d6e;
	color:#ffffff;
}
.menuitem:active{
	background-color:#133353;
	color:#ffffff;
}

.content{
	margin:auto;
	padding:15px;
	max-width:966px;
	background-color:#ffffff;
	border-radius: 15px;
}

#maindiv{
	margin: auto;
	top:0px;	
	padding:0px;
	min-height:100vh;
}

#menu {
	margin: auto;
	background-color:#4a6b8a;
	height:48px;
}

#header {
	
	background-color:#041e37;
	height:255px;
	margin:auto;
}

#contentbody {

	margin: auto;
	background-color:#4a6b8a;
	top:0px;	
	padding:20px;
	color:#012345;
	padding-bottom:64px;
}

#footer {	
	position: absolute;
	width: 100%;
	height:64px;
	margin: auto;
	background-color:#999999;
	top:0px;	
	padding:0px;
	color:#012345;
}
